<!DOCTYPE html>

<head>
    {% extends 'portals/base.html'%}
    {% block body_block%}
</head>
    <h1>{{post.title}}</h1>
    <p id='date'>Published on {{post.publish}}</p>
    {{post.body|linebreaks}}<br><br>
    {% with comments.count as comments_count %}
    <h2>{{comments_count}} Comment{{comments_count|pluralize}}</h2>
    {%endwith%}
    {% if comments %}
     {% for comment in comments %}
     <p id="ch"> Comment {{forloop.counter}} by {{comment.name}} on {{comment.created}}</p>
     {{comment.body |linebreaks}}
     {%endfor%}
     <hr><hr>
     {%else%}
      <p> There are no comments yet!!!</p>
     {%endif%}
     {%if csubmit%}
      <h2> Your comment is submit</h2>
      {%else%}
       <form method="post">
        {{form.as_p}}
        {%csrf_token%}
        <input type="submit" class="btn btn-primary btn-lg" name="" value="Submit">
       </form>
       {%endif%}
   {%endblock%}

