.home {
    margin: 10px;
}

.content {
    width: 30%;
    color: #d10a0a;
}

.home_img img{
    width: 100%;
}

.news_type {
    width: 98%;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
}

.news {
    height: 350px;
    /* background-color: rgb(216, 212, 212); */
    width: 23%;
    text-align: center;
    
}

.news a {
    text-decoration: none ;
    font-size: 20px;
    font-weight: 600;
    color: rgba(3, 8, 164, 0.948);
}

.news a:hover {
    text-decoration: none ;
    color: red;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.news img {
    height: 200px;
    width: 250px;
    margin: 20px auto;
    border-radius: 10px;

}